.badge-pill {
  display: inline-block;
  padding: 0.25em 0.4em;
  margin-right: 7px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #da626c;
  color: #fff;
}

.flag.mod-unknown {
  background-image: url("https://i.imgur.com/cTWlRQQ.png");
  background-image: -webkit-image-set(
    url("https://i.imgur.com/cTWlRQQ.png") 1x,
    url("https://i.imgur.com/cTWlRQQ.png") 2x
  );
  background-image: image-set(
    "https://i.imgur.com/cTWlRQQ.png" 1x,
    "https://i.imgur.com/cTWlRQQ.png" 2x
  );
}

.blocked-post {
  display: none !important;
}

.vct2023 {
  border: 1px solid #fff;
  border-radius: 10px;
  height: 100px;
  padding: 5px;
}

.vct2023:hover {
  box-shadow: inset 0px 0px 50px 0px #ff4455;
}

.vct2022 {
  border: 1px solid #fff;
  border-radius: 10px;
  height: 100px;
  padding: 5px;
}

.vct2022:hover {
  box-shadow: inset 0px 0px 50px 0px #c6b275;
}

.vct2021 {
  border: 1px solid #fff;
  border-radius: 10px;
  height: 100px;
  padding: 5px;
}

.vct2021:hover {
  box-shadow: inset 0px 0px 50px 0px #bb8934;
}
