.badge-pill {
  display: inline-block;
  padding: 0.25em 0.4em;
  margin-right: 7px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #da626c;
  color: #fff;
}

.flag.mod-unknown {
  background-image: url("https://i.imgur.com/cTWlRQQ.png");
  background-image: -webkit-image-set(
    url("https://i.imgur.com/cTWlRQQ.png") 1x,
    url("https://i.imgur.com/cTWlRQQ.png") 2x
  );
  background-image: image-set(
    "https://i.imgur.com/cTWlRQQ.png" 1x,
    "https://i.imgur.com/cTWlRQQ.png" 2x
  );
}

.blocked-post {
  display: none !important;
}
